*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0c3a41d2;
}
.header{
    display: grid;
    justify-content: space-between;
    align-items: center;

    
}